companies/voidai/automations/workflows/workflow-4-ecosystem-news.json
{
  "name": "VoidAI - Ecosystem News Monitor",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 */4 * * *"
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Every 4 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0],
      "notes": "Runs at 00:00, 04:00, 08:00, 12:00, 16:00, 20:00 UTC."
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://www.coindesk.com/arc/outboundfeeds/rss/",
        "options": { "timeout": 15000 }
      },
      "id": "rss-coindesk",
      "name": "RSS: CoinDesk",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [250, -150],
      "continueOnFail": true,
      "notes": "Fetch CoinDesk RSS feed. Filter for Bittensor keywords post-fetch."
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://www.theblock.co/rss.xml",
        "options": { "timeout": 15000 }
      },
      "id": "rss-theblock",
      "name": "RSS: The Block",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [250, -50],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://cointelegraph.com/rss",
        "options": { "timeout": 15000 }
      },
      "id": "rss-cointelegraph",
      "name": "RSS: CoinTelegraph",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [250, 50],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://www.dlnews.com/rss/",
        "options": { "timeout": 15000 }
      },
      "id": "rss-dlnews",
      "name": "RSS: DL News",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [250, 150],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.twitter.com/2/tweets/search/recent",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "query", "value": "(Bittensor OR $TAO OR SN106 OR VoidAI) -is:retweet" },
            { "name": "max_results", "value": "50" },
            { "name": "tweet.fields", "value": "created_at,public_metrics,author_id" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.X_API_BEARER_TOKEN }}" }
          ]
        },
        "options": { "timeout": 15000 }
      },
      "id": "x-api-search",
      "name": "X API Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [250, 250],
      "disabled": true,
      "continueOnFail": true,
      "notes": "DISABLED until X API Basic activated (Phase 3). Enable when $200/mo X API is live."
    },
    {
      "parameters": {
        "jsCode": "const keywords = [\n  'bittensor', 'tao', 'sn106', 'voidai', 'void ai',\n  'subnet', 'decentralized ai', 'chainlink ccip',\n  'cross-chain bridge', 'dtao', 'opentensor'\n];\n\nconst allItems = [];\nconst feedNodes = ['RSS: CoinDesk', 'RSS: The Block', 'RSS: CoinTelegraph', 'RSS: DL News'];\n\nfor (const nodeName of feedNodes) {\n  try {\n    const feed = $(nodeName).first().json;\n    const items = feed?.rss?.channel?.item || feed?.items || feed?.feed?.entry || [];\n    const itemList = Array.isArray(items) ? items : [items];\n\n    for (const item of itemList) {\n      if (!item) continue;\n      const title = (item.title || '').toLowerCase();\n      const desc = (item.description || item.summary || item.content || '').toLowerCase();\n      const combined = title + ' ' + desc;\n\n      const isRelevant = keywords.some(kw => combined.includes(kw));\n      if (isRelevant) {\n        allItems.push({\n          title: item.title || 'Untitled',\n          description: (item.description || item.summary || '').slice(0, 500),\n          url: item.link || item.url || item.id || '',\n          published: item.pubDate || item.published || item.updated || '',\n          source: nodeName.replace('RSS: ', ''),\n          type: 'news'\n        });\n      }\n    }\n  } catch (e) {\n    // Feed unavailable, skip\n  }\n}\n\n// Deduplicate by URL\nconst seen = new Set();\nconst unique = allItems.filter(item => {\n  if (!item.url || seen.has(item.url)) return false;\n  seen.add(item.url);\n  return true;\n});\n\n// Check against already-processed items\nconst fs = require('fs');\nconst logDir = $env.LOG_FILE_PATH || '/data/n8n/dry-run-logs/';\nfs.mkdirSync(logDir, { recursive: true });\nconst stateFile = logDir + 'news-monitor-state.json';\nlet state = {};\ntry {\n  state = JSON.parse(fs.readFileSync(stateFile, 'utf8'));\n} catch (e) {\n  state = { processed_urls: [] };\n}\n\nconst newItems = unique.filter(item => !state.processed_urls.includes(item.url));\n\nstate.processed_urls = [...state.processed_urls, ...newItems.map(i => i.url)].slice(-1000);\nfs.writeFileSync(stateFile, JSON.stringify(state, null, 2));\n\nif (newItems.length === 0) {\n  return [{ json: { no_new_items: true, scanned: unique.length } }];\n}\n\nreturn newItems.map(item => ({ json: item }));"
      },
      "id": "filter-dedupe",
      "name": "Filter + Deduplicate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [550, 50],
      "notes": "Filter RSS items for Bittensor keywords. Deduplicate by URL. Track processed URLs in state file."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "no-items-check",
              "leftValue": "={{ $json.no_new_items }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "check-items",
      "name": "New Items?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [800, 50],
      "notes": "Stop if no new relevant items found."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{ $env.CLAUDE_API_KEY }}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 500,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Score this news item for relevance to VoidAI (Bittensor SN106, cross-chain bridge, DeFi infrastructure) and draft a short commentary tweet from @v0idai perspective.\\n\\nRules for commentary:\\n- Be data-first, builder-credible, direct.\\n- Show genuine ecosystem knowledge.\\n- NEVER use em dashes. Use commas, periods, or colons.\\n- NEVER use: 'game-changer', 'paradigm shift', 'seamless', 'robust ecosystem', 'cutting-edge'.\\n- Max 280 characters for the commentary tweet.\\n- If the news mentions VoidAI directly, score higher.\\n- If the news is about Bittensor ecosystem, Chainlink, cross-chain DeFi, or TAO, score higher.\\n\\nNews item:\\nTitle: {{ $json.title }}\\nDescription: {{ $json.description }}\\nSource: {{ $json.source }}\\nURL: {{ $json.url }}\\n\\nRespond in JSON format only:\\n{\\\"score\\\": <1-10>, \\\"reasoning\\\": \\\"<why this score>\\\", \\\"commentary\\\": \\\"<draft tweet text>\\\", \\\"suggested_hashtags\\\": [\\\"#tag1\\\", \\\"#tag2\\\"]}\"\n    }\n  ]\n}",
        "options": { "timeout": 30000 }
      },
      "id": "claude-score",
      "name": "Claude: Score + Draft",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1050, 150],
      "continueOnFail": true,
      "notes": "Score each news item 1-10 for relevance. Generate draft commentary tweet. Process items one at a time."
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst originalItem = $('Filter + Deduplicate').first().json;\n\ntry {\n  const text = response.content?.[0]?.text || '{}';\n  // Try to extract JSON from response (may have markdown wrapper)\n  const jsonMatch = text.match(/\\{[\\s\\S]*\\}/);\n  const parsed = JSON.parse(jsonMatch ? jsonMatch[0] : text);\n\n  return [{\n    json: {\n      ...originalItem,\n      score: parsed.score || 0,\n      reasoning: parsed.reasoning || '',\n      commentary: parsed.commentary || '',\n      hashtags: parsed.suggested_hashtags || [],\n      scored_at: new Date().toISOString()\n    }\n  }];\n} catch (e) {\n  return [{ json: { ...originalItem, score: 0, error: 'Failed to parse Claude response' } }];\n}"
      },
      "id": "parse-score",
      "name": "Parse Score",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1300, 150]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "score-filter",
              "leftValue": "={{ $json.score }}",
              "rightValue": "7",
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "filter-score",
      "name": "Score >= 7?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1550, 150],
      "notes": "Only items scoring 7 or above proceed to drafts."
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst draftsDir = $env.QUEUE_DRAFTS_PATH || '/data/voidai/queue/drafts/';\nconst item = $input.first().json;\nconst slug = (item.title || 'untitled').toLowerCase().replace(/[^a-z0-9]+/g, '-').slice(0, 50);\nconst date = new Date().toISOString().split('T')[0];\nconst filename = `news-${date}-${slug}.md`;\nconst filepath = `${draftsDir}${filename}`;\n\nconst content = `---\\ntype: x-single\\naccount: \"@v0idai\"\\nstatus: review\\ncreated: ${new Date().toISOString()}\\nsource: workflow-4-ecosystem-news\\nrequires_human_review: true\\nrelevance_score: ${item.score}\\nnews_source: ${item.source}\\nnews_url: ${item.url}\\n---\\n\\n# News Commentary | ${item.title}\\n\\n## Original Article\\n- **Title:** ${item.title}\\n- **Source:** ${item.source}\\n- **URL:** ${item.url}\\n- **Relevance Score:** ${item.score}/10\\n- **Reasoning:** ${item.reasoning}\\n\\n## Draft Tweet (${(item.commentary || '').length} chars)\\n\\n${item.commentary}\\n\\n## Suggested Hashtags\\n${(item.hashtags || []).join(' ')}\\n`;\n\nfs.mkdirSync(draftsDir, { recursive: true });\nfs.writeFileSync(filepath, content);\n\nreturn [{ json: { status: 'drafted', file: filepath, score: item.score, title: item.title } }];"
      },
      "id": "write-draft",
      "name": "Write to Drafts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1800, 50],
      "notes": "Write high-scoring news items to queue/drafts/ with YAML frontmatter."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.DISCORD_WEBHOOK_URL }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content\": \"**Ecosystem News: {{ $json.score }}/10**\\n\\n{{ $json.title }}\\n\\nDraft saved to `{{ $json.file }}`\\nReview and approve for posting.\"\n}",
        "options": {}
      },
      "id": "discord-notify",
      "name": "Discord: News Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2050, 50],
      "notes": "Notify Vew of high-scoring news item ready for review."
    }
  ],
  "connections": {
    "Every 4 Hours": {
      "main": [
        [
          { "node": "RSS: CoinDesk", "type": "main", "index": 0 },
          { "node": "RSS: The Block", "type": "main", "index": 0 },
          { "node": "RSS: CoinTelegraph", "type": "main", "index": 0 },
          { "node": "RSS: DL News", "type": "main", "index": 0 }
        ]
      ]
    },
    "RSS: CoinDesk": {
      "main": [
        [{ "node": "Filter + Deduplicate", "type": "main", "index": 0 }]
      ]
    },
    "RSS: The Block": {
      "main": [
        [{ "node": "Filter + Deduplicate", "type": "main", "index": 0 }]
      ]
    },
    "RSS: CoinTelegraph": {
      "main": [
        [{ "node": "Filter + Deduplicate", "type": "main", "index": 0 }]
      ]
    },
    "RSS: DL News": {
      "main": [
        [{ "node": "Filter + Deduplicate", "type": "main", "index": 0 }]
      ]
    },
    "Filter + Deduplicate": {
      "main": [
        [{ "node": "New Items?", "type": "main", "index": 0 }]
      ]
    },
    "New Items?": {
      "main": [
        [],
        [{ "node": "Claude: Score + Draft", "type": "main", "index": 0 }]
      ]
    },
    "Claude: Score + Draft": {
      "main": [
        [{ "node": "Parse Score", "type": "main", "index": 0 }]
      ]
    },
    "Parse Score": {
      "main": [
        [{ "node": "Score >= 7?", "type": "main", "index": 0 }]
      ]
    },
    "Score >= 7?": {
      "main": [
        [{ "node": "Write to Drafts", "type": "main", "index": 0 }],
        []
      ]
    },
    "Write to Drafts": {
      "main": [
        [{ "node": "Discord: News Alert", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveManualExecutions": true
  },
  "staticData": null,
  "tags": [
    { "name": "news" },
    { "name": "monitoring" },
    { "name": "requires-review" }
  ],
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "voidai-marketing"
  }
}
