companies/voidai/automations/workflows/workflow-5-content-scheduler.json
{
  "name": "VoidAI - Content Calendar Scheduler",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 7 * * *"
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Daily 7AM ET",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0],
      "notes": "Trigger: 7:00 AM ET daily. Reads approved queue and schedules posts for the day."
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst path = require('path');\nconst approvedDir = $env.QUEUE_APPROVED_PATH || '/data/voidai/queue/approved/';\n\nlet files = [];\ntry {\n  files = fs.readdirSync(approvedDir)\n    .filter(f => f.endsWith('.md'))\n    .map(f => {\n      const content = fs.readFileSync(path.join(approvedDir, f), 'utf8');\n\n      // Parse YAML frontmatter\n      const fmMatch = content.match(/^---\\n([\\s\\S]*?)\\n---/);\n      const frontmatter = {};\n      if (fmMatch) {\n        fmMatch[1].split('\\n').forEach(line => {\n          const [key, ...val] = line.split(':');\n          if (key && val.length) {\n            frontmatter[key.trim()] = val.join(':').trim().replace(/^[\"']|[\"']$/g, '');\n          }\n        });\n      }\n\n      // Extract body content after frontmatter\n      const bodyMatch = content.match(/---\\n[\\s\\S]*?\\n---\\n([\\s\\S]*)/);\n      const body = bodyMatch ? bodyMatch[1].trim() : '';\n\n      return {\n        filename: f,\n        filepath: path.join(approvedDir, f),\n        frontmatter,\n        body,\n        account: frontmatter.account || '@v0idai',\n        type: frontmatter.type || 'x-single',\n        scheduled_date: frontmatter.scheduled_date || null,\n        priority: parseInt(frontmatter.priority || '5', 10)\n      };\n    });\n} catch (e) {\n  return [{ json: { error: 'Could not read approved queue', details: e.message, items: [] } }];\n}\n\nreturn [{ json: { items: files, count: files.length } }];"
      },
      "id": "read-queue",
      "name": "Read Approved Queue",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [250, 0],
      "notes": "Read all .md files from queue/approved/. Parse YAML frontmatter for metadata."
    },
    {
      "parameters": {
        "jsCode": "const items = $input.first().json.items;\nconst today = new Date().toISOString().split('T')[0];\n\nconst todaysItems = items.filter(item =>\n  item.scheduled_date === today || !item.scheduled_date\n);\n\ntodaysItems.sort((a, b) => a.priority - b.priority);\n\nif (todaysItems.length === 0) {\n  return [{ json: { no_items: true, today, total_in_queue: items.length } }];\n}\n\nreturn [{ json: { items: todaysItems, count: todaysItems.length, today } }];"
      },
      "id": "filter-today",
      "name": "Filter Today's Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 0],
      "notes": "Filter for items scheduled today or with no date (post ASAP). Sort by priority."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "no-items",
              "leftValue": "={{ $json.no_items }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "check-items",
      "name": "Items to Schedule?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [750, 0],
      "notes": "Stop if no items to schedule today."
    },
    {
      "parameters": {
        "jsCode": "// Cadence rules from cadence.md:\n// - @v0idai: max 6/day hard limit, 1-2/day target, 3hr min gap\n// - Weekend: max 1/day per account\n// - Never > 6 from any single account\n\nconst items = $input.first().json.items;\nconst today = new Date();\nconst isWeekend = today.getDay() === 0 || today.getDay() === 6;\nconst maxPerDay = parseInt($env.MAX_POSTS_PER_DAY || '6', 10);\n\nconst byAccount = {};\nfor (const item of items) {\n  const acct = item.account;\n  if (!byAccount[acct]) byAccount[acct] = [];\n  byAccount[acct].push(item);\n}\n\nconst scheduled = [];\nconst deferred = [];\n\nfor (const [account, accountItems] of Object.entries(byAccount)) {\n  const dailyLimit = isWeekend ? 1 : Math.min(maxPerDay, 2);\n  const toPost = accountItems.slice(0, dailyLimit);\n  const toDefer = accountItems.slice(dailyLimit);\n\n  scheduled.push(...toPost.map((item, i) => ({ ...item, slot_index: i })));\n  deferred.push(...toDefer.map(item => ({ ...item, deferred_reason: 'cadence_limit' })));\n}\n\nreturn [{\n  json: {\n    scheduled,\n    deferred,\n    is_weekend: isWeekend,\n    scheduled_count: scheduled.length,\n    deferred_count: deferred.length\n  }\n}];"
      },
      "id": "enforce-cadence",
      "name": "Enforce Cadence Rules",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 100],
      "notes": "Apply cadence.md rules: max posts per account, weekend rules. Defer excess items."
    },
    {
      "parameters": {
        "jsCode": "// Optimal posting windows from cadence.md:\n// @v0idai peak: 14:00-16:00 UTC, 20:00-22:00 UTC\nconst items = $input.first().json.scheduled;\n\nconst timeSlots = [\n  { hour: 14, minute: 0 },\n  { hour: 15, minute: 30 },\n  { hour: 17, minute: 0 },\n  { hour: 20, minute: 0 },\n  { hour: 21, minute: 30 },\n];\n\nconst today = new Date().toISOString().split('T')[0];\n\nconst withTimes = items.map((item, i) => {\n  const slot = timeSlots[i % timeSlots.length];\n  const scheduledTime = `${today}T${String(slot.hour).padStart(2, '0')}:${String(slot.minute).padStart(2, '0')}:00Z`;\n\n  return {\n    ...item,\n    scheduled_post_at: scheduledTime,\n    time_slot: `${slot.hour}:${String(slot.minute).padStart(2, '0')} UTC`\n  };\n});\n\nreturn [{\n  json: {\n    items: withTimes,\n    deferred: $input.first().json.deferred,\n    scheduled_count: withTimes.length,\n    deferred_count: $input.first().json.deferred.length\n  }\n}];"
      },
      "id": "assign-times",
      "name": "Assign Posting Times",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 100],
      "notes": "Assign optimal posting times based on cadence.md peak windows."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "dry-run-check",
              "leftValue": "={{ $env.DRY_RUN }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "dry-run-check",
      "name": "DRY_RUN?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1500, 100]
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst logDir = $env.LOG_FILE_PATH || '/data/n8n/dry-run-logs/';\nconst date = new Date().toISOString().split('T')[0];\nconst logFile = `${logDir}workflow-5-schedule-${date}.json`;\n\nconst data = $input.first().json;\n\nconst logEntry = {\n  workflow: 'content-calendar-scheduler',\n  timestamp: new Date().toISOString(),\n  dry_run: true,\n  scheduled_items: (data.items || []).map(item => ({\n    filename: item.filename,\n    account: item.account,\n    type: item.type,\n    scheduled_post_at: item.scheduled_post_at,\n    time_slot: item.time_slot,\n    preview: (item.body || '').slice(0, 100) + '...'\n  })),\n  deferred_items: (data.deferred || []).map(item => ({\n    filename: item.filename,\n    reason: item.deferred_reason\n  })),\n  note: 'DRY_RUN: Files NOT moved from approved/ to scheduled/'\n};\n\nfs.mkdirSync(logDir, { recursive: true });\nfs.writeFileSync(logFile, JSON.stringify(logEntry, null, 2));\n\nreturn [{ json: { status: 'schedule_logged', file: logFile, ...logEntry } }];"
      },
      "id": "dry-run-log",
      "name": "DRY_RUN Log",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1750, 0],
      "notes": "Log schedule to file. Files NOT moved in DRY_RUN mode."
    },
    {
      "parameters": {
        "jsCode": "// In production: schedule each item via posting API, then move files.\n// X API v2 does not support native scheduling.\n// Options:\n// 1. OpenTweet: POST /v1/tweets/schedule { text, scheduled_time }\n// 2. Outstand: POST /v1/schedule { platforms, content, scheduled_time }\n// 3. n8n Wait node: delay until scheduled_time, then post\n// \n// For now, this node moves files and logs. Actual scheduling\n// will be added when the posting API supports it.\n\nconst fs = require('fs');\nconst path = require('path');\nconst approvedDir = $env.QUEUE_APPROVED_PATH || '/data/voidai/queue/approved/';\nconst scheduledDir = $env.QUEUE_SCHEDULED_PATH || '/data/voidai/queue/scheduled/';\nconst items = $input.first().json.items || [];\n\nfs.mkdirSync(scheduledDir, { recursive: true });\n\nconst results = [];\nfor (const item of items) {\n  try {\n    const src = path.join(approvedDir, item.filename);\n    const dest = path.join(scheduledDir, item.filename);\n\n    let content = fs.readFileSync(src, 'utf8');\n    content = content.replace(\n      /status: approved/,\n      `status: scheduled\\nscheduled_post_at: ${item.scheduled_post_at}`\n    );\n    fs.writeFileSync(dest, content);\n    fs.unlinkSync(src);\n\n    results.push({\n      filename: item.filename,\n      account: item.account,\n      scheduled_post_at: item.scheduled_post_at,\n      status: 'moved_to_scheduled'\n    });\n  } catch (e) {\n    results.push({\n      filename: item.filename,\n      status: 'error',\n      error: e.message\n    });\n  }\n}\n\nreturn [{ json: { results, moved_count: results.filter(r => r.status === 'moved_to_scheduled').length } }];"
      },
      "id": "schedule-and-move",
      "name": "Schedule + Move Files",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1750, 200],
      "notes": "Move files from approved/ to scheduled/ with updated frontmatter. TODO: Add actual posting API calls when available."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.DISCORD_WEBHOOK_URL }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content\": \"**Content Calendar: Today's Schedule**\\n\\nScheduled: {{ $json.scheduled_count || $json.moved_count || 0 }} posts\\nDeferred: {{ $json.deferred_count || 0 }} posts (cadence limits)\\n\\n{{ $json.dry_run ? '[DRY_RUN] Schedule logged but not executed.' : 'Posts moved to scheduled queue.' }}\"\n}",
        "options": {}
      },
      "id": "discord-summary",
      "name": "Discord: Schedule Summary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2000, 100],
      "notes": "Daily summary of scheduled and deferred posts."
    }
  ],
  "connections": {
    "Daily 7AM ET": {
      "main": [
        [{ "node": "Read Approved Queue", "type": "main", "index": 0 }]
      ]
    },
    "Read Approved Queue": {
      "main": [
        [{ "node": "Filter Today's Items", "type": "main", "index": 0 }]
      ]
    },
    "Filter Today's Items": {
      "main": [
        [{ "node": "Items to Schedule?", "type": "main", "index": 0 }]
      ]
    },
    "Items to Schedule?": {
      "main": [
        [],
        [{ "node": "Enforce Cadence Rules", "type": "main", "index": 0 }]
      ]
    },
    "Enforce Cadence Rules": {
      "main": [
        [{ "node": "Assign Posting Times", "type": "main", "index": 0 }]
      ]
    },
    "Assign Posting Times": {
      "main": [
        [{ "node": "DRY_RUN?", "type": "main", "index": 0 }]
      ]
    },
    "DRY_RUN?": {
      "main": [
        [{ "node": "DRY_RUN Log", "type": "main", "index": 0 }],
        [{ "node": "Schedule + Move Files", "type": "main", "index": 0 }]
      ]
    },
    "DRY_RUN Log": {
      "main": [
        [{ "node": "Discord: Schedule Summary", "type": "main", "index": 0 }]
      ]
    },
    "Schedule + Move Files": {
      "main": [
        [{ "node": "Discord: Schedule Summary", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/New_York",
    "saveExecutionProgress": true,
    "saveManualExecutions": true
  },
  "staticData": null,
  "tags": [
    { "name": "scheduler" },
    { "name": "daily" },
    { "name": "cadence" }
  ],
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "voidai-marketing"
  }
}
